<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Account</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Bratwurst</a>
        <a href="/account_settings" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user-circle"></i></a>
        <a href="/messages" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
        <a href="/notifications">
            <button class="w3-button w3-padding-large" title="Notifications">
                <i class="fa fa-bell"></i>
                <span class="w3-badge w3-right w3-small w3-green">1</span>
            </button>
        </a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"> Logout
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content-center" style="max-width:1400px;margin-top:80px">

    <h1>Profile picture - Upload Status</h1>

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

</div>
<br>

<!-- Footer -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="w3-container w3-theme-d3 w3-padding-16">
    <!--    <a href="#" title="Om" target="_blank" class="w3-hover-text-green">Om</a> &nbsp&nbsp&nbsp-->
    <!--    <a href="#" title="Hjælpecenter" target="_blank" class="w3-hover-text-green">Hjælpecenter</a>&nbsp&nbsp&nbsp-->
    <!--    <a href="#" title="Privatlivspolitik" target="_blank" class="w3-hover-text-green">Privatlivspolitik</a>&nbsp&nbsp&nbsp-->
    <!--    <a href="#" title="Cookiepolitik" target="_blank" class="w3-hover-text-green">Cookiepolitik</a>-->

</footer>

</body>
</html>