<div th:fragment="styles" xmlns:th="http://www.w3.org/1999/xhtml">
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css" th:href="@{/style/style.css}">
    <title th:text="${'Bratwurst - ' + pageTitle}"></title>
    <meta charset="UTF-8">
</div>