<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Bratwurst</a>
        <a href="/account_settings" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user-circle"></i></a>
        <a href="/messages" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
        <a href="/notifications">
            <button class="w3-button w3-padding-large" title="Notifications">
                <i class="fa fa-bell"></i>
                <span class="w3-badge w3-right w3-small w3-green">1</span>
            </button>
        </a>
        <a href="/#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"> Logout
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content-center" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m4">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">
                        <!--th:text="${users.first_name} + ' ' + ${users.last_name}" -->
                    Test Testesen</h4>
                    <p class="w3-center"><img src="https://www.w3schools.com/images/picture.jpg" class="w3-circle" style="height:106px;width:106px" alt="user_profile_picture"></p>
                    <hr>
                    <p><i class="fa fa-building fa-fw w3-margin-right w3-text-theme"></i> Copenhagen
                        <!--                        <span th:text="${users.age}"></span>-->
                    </p>
                    <p><i class="fa fa-flag fa-fw w3-margin-right w3-text-theme"></i> Denmark
                        <!--                        <span th:text="${users.age}"></span>-->
                    </p>
                    <p><i class="fa fa-female fa-fw w3-margin-right w3-text-theme"></i>Female</p>
<!--                    <p th:if="${users.gender == 'Female'}"><i class="fa fa-female fa-fw w3-margin-right w3-text-theme"></i><span th:text="${users.gender}"></span></p>-->
<!--                    <p th:if="${users.gender == 'Male'}"><i class="fa fa-male fa-fw w3-margin-right w3-text-theme"></i><span th:text="${users.gender}"></span></p>-->
<!--                    <p th:if="${users.gender == 'Other'}"><i class="fa fa-genderless fa-fw w3-margin-right w3-text-theme"></i><span th:text="${users.gender}"></span></p>-->
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> 26
                        <!--                        <span th:text="${users.age}"></span>-->
                    </p>
                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<br><br><br><br><br><br><br><br>
<footer class="w3-container w3-theme-d3 w3-padding-16">
<!--    <a href="#" title="Om" target="_blank" class="w3-hover-text-green">Om</a> &nbsp&nbsp&nbsp-->
<!--    <a href="#" title="Hjælpecenter" target="_blank" class="w3-hover-text-green">Hjælpecenter</a>&nbsp&nbsp&nbsp-->
<!--    <a href="#" title="Privatlivspolitik" target="_blank" class="w3-hover-text-green">Privatlivspolitik</a>&nbsp&nbsp&nbsp-->
<!--    <a href="#" title="Cookiepolitik" target="_blank" class="w3-hover-text-green">Cookiepolitik</a>-->

</footer>

</body>
</html>
