<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>

<head th:include="head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body class="w3-theme-l5">

<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-center w3-large">
        <span class="w3-bar-item w3-hide-small w3-center w3-padding-large"> Welcome to <b>Bratwurst</b>
    </span>
    </div>
</div>
<br><br><br><br><br>
<div class="container">
    </head>

    <header th:include="header :: navbar"></header>

    <h1>Login</h1>

    <div class="alert alert-danger alert-dismissible" th:classappend="${loginError} ? '' : 'd-none'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Login Error!</strong> Wrong username or password!
    </div>

    <form method="Post" th:action="@{/login}">

        <label>Username:</label>
        <input type="text" class="form-control mr-sm-2" th:name="username"/>

        <label>Password:</label>
        <input type="password" class="form-control mr-sm-2" th:name="password"/>

        <br>

        <input class="btn btn-light" type="reset" value="Reset">

        <button class="btn btn-primary" type="submit">Login</button>


    </form>
    <br/>
    <br>
    <a th:href="@{/signup}" > <p> Sign up</p></a>

    <!--<a href="/createuser">
        <button class="btn btn-success"><span class="fas fa-plus"></span> Create new User</button>
    </a>-->

</div>
</body>
</html>