<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Sign Up</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<head th:include="head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body class="w3-light-grey">
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <span>Welcome to <b>Bratwurst</b></span>
    </div>
</div>
<br><br><br><br><br>
<div class="container">
    </head>

    <header th:include="header :: navbar"></header>

    <h1>Sign Up</h1>

    <div class="alert alert-danger alert-dismissible" th:classappend="${loginError} ? '' : 'd-none'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Login Error!</strong> Wrong username or password!
    </div>

    <form method="Post" th:action="@{/signup}">

        <label>First Name:</label>
        <input type="text" class="form-control col-lg-2 col-md-3" th:field="${user.first_name}" required/>

        <label>Last Name:</label>
        <input type="text" class="form-control col-lg-2 col-md-3" th:field="${user.last_name}" required/>

        <label>Age:</label>
        <input type="number" class="form-control col-lg-1" th:field="${user.age}"/>

        <label>Gender:</label>
        <select name="gender" id="gender" th:field="${user.gender}" class="form-control col-lg-1">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <label>Username:</label>
        <input type="text" class="form-control col-lg-2 col-md-3" th:field="${user.username}" required/>

        <label>Password:</label>
        <input type="password" class="form-control col-lg-2 col-md-3" th:field="${user.password}" required/>

        <label>Email:</label>
        <input type="email" class="form-control col-lg-2" th:field="${user.email}" required/>

        <label>Profile picture:</label>
        <input type="text" class="form-control col-lg-2" th:field="${user.profile_picture}" disabled/>

        <br>

        <input type="submit" class="btn btn-success" value="Create">




    </form>
    <br/>

    <!--<a href="/createuser">
        <button class="btn btn-success"><span class="fas fa-plus"></span> Create new User</button>
    </a>-->

</div>
</body>
</html>