<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
Dear user, Welcome to bratwurst. We have sent you an email,
with a confirmation link that you must click in order to complete your membership.
By clicking the link, you accept that we can send you emails containing auth codes, that you need to login.
Please do this and then press continue!!
This is for our members own security!

<a th:href="@{/setPolicy}" >Continue</a>
</body>
</html>